#mybody {
  background-color: #0e0a18 
}

.title{
  color: whitesmoke;
  font-size: 4rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.italics {
  font-style: italic;
}

#profile{
  border-radius: 50%;
  width:  16rem;
  height: 12.5rem;
}